
.card .album img {
  width: 326px;
  height: 217px;
  border-radius: 3rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card p {
  margin-top: 2rem;
  width: 24rem;
  font-size: 12px;
  font-weight: 500;
}

.album {
  display: flex;
  align-items: center;
}

.album span {
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 12px;
  width: 9rem;
  height: 3.5rem;
  background-color: #1C214A;
  color: #fff;
}
