<div class="banner">
  <img src="assets/img/feature_1.svg" alt="">
  <div class="content">
    <p class="main">Título</p>
    <p class="title">Lorem ipsum dolor sit amet consectetur. Quis sed sed augue mi nunc nunc. Pellentesque neque lacinia
      nisi.</p>
    <p class="description">Lorem ipsum dolor sit amet consectetur. At dis sit faucibus sollicitudin platea risus nisi
      tellus. Dictum ultricies dui risus convallis ligula. Tristique mauris egestas mauris iaculis. Erat iaculis
      nascetur est consequat amet ante quam diam.</p>
  </div>
</div>
