nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

nav .title {
  color: #E87316;
  font-size: 35px;
  font-style: normal;
  cursor: pointer;

}

nav .nav-itens {
  color: #1C214A;
  font-size: 22px;
  display: flex;
}

nav .nav-itens span {
  margin: 0 1rem;
  cursor: pointer;

}

nav img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  cursor: pointer;

}

@media (max-width: 500px) {
  nav .title {
    font-size: 8px;
  }
  nav .nav-itens {
    font-size: 8px;
  }
  nav .user img {
    width: 2rem;
    height: 2rem;
  }
}
